[Desktop Entry]
Version=1.0
Type=Application
Name=Lanzar Trading Bot
Comment=Abre la app de trading con doble clic
Exec=/home/fbautista/Documents/Alpaca/trading_bot/start_trading_bot
TryExec=/home/fbautista/Documents/Alpaca/trading_bot/start_trading_bot
Path=/home/fbautista/Documents/Alpaca/trading_bot
Terminal=false
Icon=python
Categories=Office;Finance;
StartupNotify=true
